/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
	font-family: merri;
    src: url(../../fonts/Merriweather-Light.ttf);
    
}
@font-face {
	font-family: merriBold;
	src: url(../../fonts/Merriweather-Bold.ttf);
    
}

@font-face {
	font-family: novo;
    src: url(../../fonts/Novecentosanswide-Normal.ttf);
    src: url(../../fonts/Novecentosanswide-DemiBold.ttf);
}