.uppercase{
	h1{
		margin: 5vh;
	}
}

.flex{	
		#logos{
			img{
			margin:1vh 0;
			width:75px;
			height:75px;
			}
		}
		.button{
			margin: 3vh 0;
			background-color: #008080;
			border:none;
			color: white;
			width: 20vh;
			height: 5vh;
			font-size: 1rem;
			text-shadow: none;
			box-shadow: none;
		}
		.button:hover{
			background-color:#004F4F;
			text-shadow: none;
			box-shadow: none;
		}
		input{
			text-shadow:none;
		}
		p{
			margin:0 1vh;
		}

		
		.borderp{
			border:1px solid #CCCCCC;
			border-top: 3px solid #CCCCCC;
		}
		.borderp:hover{
			border-color: #FF8000;
		}
		.products{
			width: 22%;
			height: 35vh;
			text-align:center;
		}
	}

	.head{
			text-align: center;
			margin:0 auto  ;
			margin-top: 80px;
			font-family: novo;
			font-weight: 100;
		}
		.head1{
			text-align: center;
			margin:0 auto ;
			font-family: novo;
			font-weight: 100;
		}
#archiveP{
	.teal{
		color:teal;
	}
	a{
		text-decoration:none;
		color:teal;
	}
	.flexP{
		display:flex;
		flex-direction:row;
		justify-content: center;
	}
	.width{
		width: 80%;
		margin: 0 auto;
	}
	.marginxs{
		margin:3vh;
	}
	p{
		font-size: 1.25rem;
	}
}

.SingleProduct{
	.social{
		button{
			background:none;
			color:black;
			width: 30%;
		}
	}
}


#products{
	

	display: -webkit-flex;
	display: flex;
	flex-wrap:wrap;
	margin:5vh auto;
	width:100%;
	justify-content:space-around;
	#SingleP{
	display: -webkit-flex;
	display: flex;
	width:100%;
	justify-content:space-between;
		
	}
	img{
		width: 200px;
		height: 200px;
	}
	a{
		text-decoration: none;
	}
	p{
		font-size: 0.8rem;
		margin:2vh;
	}
	.productTitle{

	}
	.borderP{
		justify-content: space-between;
		display: flex;
		flex-direction: row;
		border:1px solid #CCCCCC;
		border-top:3px solid #CCCCCC;
	}
	.width2{
		width: 22%;
	}
	.width3{
		width:100%;
		height:25vh;}
}
